<!DOCTYPE html>
<html>
<head>
    <title>Template Base</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <h2> Hola Django</h2>
    <h3> Uso de templates</h3>
    <p>
        {{myText}}
        {{myNumber}}
    </p>
    <ul>
        {%for myItem in myList%}
        <li>{{ forloop.counter }}- {{ myItem}}
        {% if myItem == 33 %}
            -Este número es mágico
        {% elif myItem > 50 %}
            -Mayor a 50
        {%endif%}
        </li>
        {% endfor %}
    </ul>
    {% endblock %}

</body>
</html>